---
layout: default
title: 'Où manger'
permalink: /ou_manger/
---
<div id="main">
  <h3>Cuisine du monde</h3>
 

  {% include place.html place=site.data.places.festina_lente %}

  {% include place.html place=site.data.places.pause_bio %}

   {{ site.categories }} 
   ====
    <h3>{{ category | first }}</h3>

    {% for category in site.categories %}
      {{ category | first }}
      {% for posts in category %}
        {% for post in posts %}
          {% if post.url %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}



  -------------------------

  {% for post in site.posts %}
    {{ post.title }}
  {% endfor %}


  <section>
    <h2>Où manger</h2>

    <p translate="no">
      W3C/MIT<br>
      32 Vassar Street<br>
      Room 32-G515<br>
      Cambridge, <abbr title="Massachusetts">MA</abbr> 02139 USA
    </p>
  </section>
</div>
