---
layout: default
title: 'Où manger'
permalink: /ou_manger/
---
<div id="main">
  <h3>Cuisine du monde</h3>

  {% assign posts = site.posts | where:'group','cuisine du monde' %}
  {% for post in posts %}
    {% include place.html place=post %}
  {% endfor %}

  <h3>Cuisine indienne</h3>

  {% assign posts = site.posts | where:'group','cuisine indienne' %}
  {% for post in posts %}
    {% include place.html place=post %}
  {% endfor %}

  <h3>Cuisine du Maghreb</h3>

  {% assign posts = site.posts | where:'group','cuisine du maghreb' %}
  {% for post in posts %}
    {% include place.html place=post %}
  {% endfor %}

</div>
