---
layout: default
title: 'Où manger'
---

<div id="main">
  <h1>Où manger</h1>

  <br>

  {% for post in site.categories[page.slug] %}
    <article class="{% cycle '6u', '6u$' %} 12u(small)">
      <header>
        <h2>
          <a href="{{ post.url }}" style="margin-right: 12px;">{{ post.title }}</a>
          {% for tag in post.tags %}
            <button class="toolbar-button toolbar-button--outline">{{ tag }}</button>
          {% endfor %}
        </h2>

      </header>
      <section>
        ajouté le {{ post.date | date: '%d/%m/%Y'  }}
      </section>
    </article>
 
    {% unless forloop.last %}
      <hr class="margin-1-rem">
    {% endunless %}
  {% endfor %}

  <footer>
    {% include disqus.html %}
  </footer>
</div>