---
layout: default
comments: true
---
{% capture price_title %}
  {% include price_title.html post=page %}
{% endcapture %}

{% capture friendly_title %}
  {% include friendly_title.html post=page %}
{% endcapture %}

<div id="main">
  <article>
    <header>
      <h1 class="post-title">{{ page.title }}
        {% for tag in page.tags %}
          {% assign tagItem = site.my_tags | where: "slug", tag | first %}
          <a href="/tags/{{ tag }}" class="toolbar-button toolbar-button--outline hover-none">{{ tagItem.name }}</a>
        {% endfor %} 
      </h1>
      <p class="post-meta">
      </p>
    </header>

    <section>
      {{ content }}

      <p>
        <span title="{{ price_title | strip_newlines | strip }}">{% for num in (1..page.price) %} <i class="fa fa-euro"></i> {% endfor %}</span>&nbsp;&nbsp;•&nbsp;&nbsp;
        <span title="{{ friendly_title | strip_newlines | strip }}">{% for num in (1..page.vegan_friendly) %} <image src="/images/favicon.png"></image> {% endfor %}</span>&nbsp;&nbsp;•&nbsp;&nbsp;
        <a href="{{ page.gmaps_link }}" target="_blank"><i class="fa fa-map-marker"></i></a> 
      </p>

      <div id="map" style="height: 350px; width: 100%;"></div>
    </section>

    <footer>
      {% include disqus.html %}
    </footer>
  </article>
</div>

<script type="text/javascript" src="/js/gmaps.min.js"></script>

<script type="text/javascript">
  var map;
  function initMap() {
    map = new GMaps({
      el: '#map',
      lat: {{ page.latitude }},
      lng: {{ page.longitude }},
      scrollwheel: false,
//      mapTypeControlOptions: {
//        style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
//        position: google.maps.ControlPosition.BOTTOM_LEFT
//     },
//      zoomControl: true,
      zoomControlOptions: {
        position: google.maps.ControlPosition.RIGHT_BOTTOM
      }
    });

    var markerInstance = map.addMarker({
      lat: {{ page.latitude }},
      lng: {{ page.longitude }},
      title: '{{ page.title }}',
      infoWindow: {
        content: '<h2>{{ page.title }}</h2><a href="{{ page.gmaps_link }}" target="_blank"><p style="margin: 0">{{ page.address }}</p></a>'
      }
    });

   // var markerInstance = map.markers[0];
    markerInstance.infoWindow.open(map, markerInstance);
  }
</script>

{% include gmaps.html %}