---
layout: default
comments: true
---
{% capture price_title %}
  {% case page.price %}
  {% when 1 %}
  budget moins de 10 euros
  {% when 2  %}
  budget 10-20 euros
  {% else %}
  budget 20 euros et plus
  {% endcase %}
{% endcapture %}

{% capture friendly_title %}
  {% case page.vegan_friendly %}
  {% when 1 %}
  assez vegan-friendly
  {% when 2  %}
  vegan-friendly
  {% else %}
  super vegan-friendly
  {% endcase %}
{% endcapture %}

<div id="main">
  <article>
    <header>
      <h1 class="post-title">{{ page.title }}

      {% for tag in page.tags %}
            <button class="toolbar-button toolbar-button--outline">{{ tag }}</button>
        {% endfor %} 
      </h1>
      <p class="post-meta">
        
      </p>
    </header>

    <section>
      {{ content }}

      <p>
        {% for num in (1..page.price) %} <i class="fa fa-euro" title="{{ price_title }}"></i> {% endfor %}&nbsp;&nbsp;•&nbsp;&nbsp;
        {% for num in (1..page.vegan_friendly) %} <image src="/images/favicon.png" title="{{ friendly_title }}"></image> {% endfor %}&nbsp;&nbsp;•&nbsp;&nbsp;
        <a href="{{ page.gmaps_link }}" target="_blank"><i class="fa fa-map-marker"></i></a> 
      </p>
    </section>

    <footer>
      {% include disqus.html %}
    </footer>
  </article>
</div>
